.novedades {
  width: 100%;
  padding: 0 2em;
  margin: 0 auto;
  margin-top: 2em;
}

.novedades h1 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.25em;
}

.novedades__section__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-items: center;
  gap: 2em;
}

@media screen and (min-width: 768px) {
  .novedades h1 {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .novedades {
    padding: 0;
  }
}