.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.imagen {

  -o-object-fit: cover;
  object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 14px;
  border: 2px solid var(--principal-color-green);
  margin: 0 .5rem;
}

.img__link {
  position: relative;
  bottom: 25px;
  color: var(--principal-color-white);
  background-color: var(--principal-color-green);
  font-size: .5em;
  text-align: center;
  line-height: 1rem;
  padding: .125rem;
  width: 90%;
  height: 100%;
  border-radius: 0 0 14px 14px;
  border: 1px solid var(--principal-color-green);
  margin: 0 .5rem;
}