.title {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2.5em;
  padding: 1em 0;
  border-bottom: 2px solid var(--principal-color-green-op);
  border-top: 2px solid var(--principal-color-green-op);
}

.flag {
  width: 5%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flag img {
  width: 25px;
  margin: 0px .3rem;
  margin-top: -5.125rem;

}

.title__h1 {
  color: var(--principal-color-pink);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 1.5em;
  }

  .flag img {
    margin-top: -3.125rem;
  }
}