.cta__article__contact {
  margin-top: 1.5em;
  text-align: center;
}

.cta__article__contact h3 {
  margin-bottom: 1em;
}

.cta__aside__collab {
  max-width: 300px;
  display: flex;
  gap: 1em;
  margin: 0 auto;
  margin-top: 2em;
}

@media screen and (min-width: 1024px) {
  .no__active {
    display: none;
  }
}
