.layout__div__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.layout__main {
  max-width: 1200px;
  width: 100%;
  margin-bottom: 1em;
}