/* Estilos generales de Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid var(--principal-color-green);
}


/* Estilos de info del header */
.header__info {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--principal-color-pink);
}

.header__info img {
  width: 20px;
  height: 20px;
}

.header__info a {
  color: var(--principal-color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin: 4px;
}

/* estilos para dispositivos mobiles */
.header__position {
  display: flex;
  flex-direction: column;
}

.header__contenido__mobil {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 95vw;
}

.header__mobil__logo img {
  height: 4rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__mobil__bandera {
  margin-bottom: .7rem;
}

.nav__dropdown__options li {
  list-style: none;
  border-bottom: 1px solid var(--principal-color-green);
  width: 50%;
  padding: .75rem;
}

.nav__dropdown__options img {
  width: 20px;
  height: 20px;
}

.nav__dropdown__options li a {
  text-decoration: none;
  color: var(--principal-color-green);
  font-weight: 400;
}

.dropdown__servicios {
  color: var(--principal-color-green);
  font-weight: 400;
}

.dropdown__servicios .submenu li {
  border: none;
  padding: .4rem;
}

.dropdown__servicios .submenu li a {
  font-size: .7rem;
}

.buscar {
  width: 100%;
  border: none;
  padding-bottom: 0px;
}

.buscar__container {
  background-color: #dadada;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.buscar__container img {
  width: 20px;
  height: 20px;
}

.buscar__input {
  width: 100%;
  border: none;
  background-color: #dadada;
  border-radius: 15px;
}

/* TODO buscar debe ser ancho como el contenedor, no lo logre y tambien se debe sacar el borde inferioir en esta parte */



/* estilos para dispositvos destktop */
.header__contenido__desktop {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desktop__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.header__desktop__logo img {
  height: 6em;
}

.header__desktop__iconos {
  display: flex;
  width: 4rem;
  padding: .5rem .5rem;
  justify-content: space-between;

}

.header__menu__desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}

.header__menu__desktop ul li {
  list-style: none;
  text-decoration: none;
  color: var(--principal-color-green);
  font-weight: 600;
  margin: 0 1rem;
  /* ? creo que deberia ser fluido el espacido acá */
}

.header__menu__desktop ul li a {
  text-decoration: none;
  color: var(--principal-color-green);
  font-weight: 600;
}

.header__menu__desktop .dropdown__servicios__desktop li a {
  display: flex;
  font-weight: 400;
  font-size: 12px;
}