.header__contenido__desktop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desktop__container {
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.header__desktop__logo img {
  height: 5em;
}

.header__desktop__iconos {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  padding: .5rem .5rem;
  cursor: pointer;
}

.header__desktop__iconos .header__desktop__iconos .iconos__lupa:hover {
  color: var(--principal-color-pink);
}

.header__menu__desktop ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.header__menu__desktop .menu__dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}


.header__menu__desktop .menu__chevron {
  height: 0.5rem;
  font-size: 1.5rem;
  transform: rotate(0deg);
  transition: all .4s ease;
}

.header__menu__desktop .menu__chevron__rotate {
  transform: rotate(180deg);
  font-size: 1.5rem;
  height: 0.5rem;
  transition: all .4s ease;
}



.header__menu__desktop ul li {
  list-style: none;
  text-decoration: none;
  margin: 0 1rem;
}

.header__menu__desktop ul li,
.header__menu__desktop ul li a {
  text-decoration: none;
  color: var(--principal-color-black);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__menu__desktop ul li:hover,
.header__menu__desktop ul li a:hover {
  color: var(--principal-color-pink);
}


.header__menu__desktop .dropdown__servicios__desktop {
  background-color: var(--principal-color-green);
  padding: .5rem;
}


.header__menu__desktop .dropdown__servicios__desktop li a {
  display: flex;
  color: var(--principal-color-white);
  font-weight: 400;
  font-size: 16px;
  margin-top: .5rem;
}

.header__menu__desktop .dropdown__servicios__desktop li a:hover {
  color: var(--principal-color-green-op);
}