.each__slide__img {
  display: flex;
  width: 100%;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
}

@media screen and (min-width: 360px) {
  .each__slide__img {
    height: 120px;
  }
}

@media screen and (min-width: 500px) {
  .each__slide__img {
    height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .each__slide__img {
    height: 190px;
  }
}

@media screen and (min-width: 1024px) {
  .each__slide__img {
    height: 300px;
  }
}