.carrusel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.carrusel__container [aria-roledescription="carousel"] {
  width: 60%;
  margin: 0 auto;
}

.each__slide__img {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
}

@media screen and (min-width: 400px) {
  .each__slide__img {
    height: 90px;
  }
}

@media screen and (min-width: 500px) {
  .each__slide__img {
    height: 110px;
  }
}

@media screen and (min-width: 768px) {
  .each__slide__img {
    height: 130px;
  }
}

@media screen and (min-width: 1024px) {
  .each__slide__img {
    height: 200px;
  }
}