@import 'react-slideshow-image/dist/styles.css';

body {
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--principal-color-white);
}
